/** Media Queries **/
@mixin telefono {
    @media (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
@mixin grid($columnas, $espaciado) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}
@mixin boton($color, $display) {
    background-color: $color;
    text-decoration: none;
    display: $display;
    text-align: center;
    color: $blanco;
    padding: 1.5rem 2rem;
    font-weight: bold;
    border: none;

    &:hover {
        background-color: darken($color, 5);
    }
}