
.casas{
    @include tablet{
    @include grid (3, 2rem);

    .tercero {
        h2 {
            
            min-height: 12.238rem;
        
        }
    }

}
}

.columna{
    background-color: lighten($gris, 5);
    border: 0.1rem solid darken($gris,5);
    margin-bottom: 2rem;
    
    .iconos-casas {
        display: flex;
        justify-content: space-between;
        padding: 0;
        font-weight: bold;
        gap: rem;
        max-width:40rem ;

        li {
            display: inline-flex;
            
            p {
                margin-left: 1.5rem;
            }
        }
    }
    

}
.iconos-casas {
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-weight: bold;
    gap: rem;
    max-width:40rem ;

    li {
        display: inline-flex;
        
        p {
            margin-left: 1.5rem;
        }
    }
}
.descripcion {
    padding: 2rem;

    
}
.precio {
    color: $verde;
    font-size: 3.5rem;
    margin: 0;
    font-weight: bold;
}
