.navegacion { 

    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility 0.3s ease-in-out, opacity 0.5s linear ;

    @include tablet {
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }

    
    

    a {
        color: $blanco;
        font-size: 2rem;
        display: block;
        text-align: center;
        &:hover {
            color: $verde;
        }

    }
    @include tablet {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    
}
.mobile-menu {

    width: 5rem;
    margin: 1rem 0;
    @include tablet {
        display: none;
    }
}
.mostrar {
    visibility: visible;
    opacity: 1;
    height: auto;
}